:root { 
  --black: #000000;
  --eerie-black: #1e1e1e;
  --grey: #87888c;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 30px;
  --font-size-xs: 12px;
  --font-size-xxl: 33px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
